header, footer {
    text-align: center;
    background-color: #2a76d2;
    color: white;
    margin: 0;
    padding: 1rem;
    font-size: 1.2em;
    letter-spacing: 3px;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
}
nav a{
    color: white;
    /* display: none; */
    padding: 10px;
    font-size: 1.1em;
}
.hide {
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: blueviolet;
}
.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
}
.menu-button:hover {
    text-decoration: none;
    color: darkblue;
}
/* .bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
} */
.image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: solid 5px white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
.image {
    display: grid;
    gap: 20px;
    padding-bottom: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
main {
    margin: 0;
    padding: 10px;
    background-color: lightgray;
    text-align: center;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
}
dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position:absolute;
    top: 15vh;
    right: 34vh;
    padding: 3px 6px;
    font-size: 1.5em;
    
}
@media screen and (min-width: 700px) {
    nav a {
        display: inline;
    }
    nav {
        flex-direction: row;
        justify-content: center;
        display: flex;
    }
    .menu-button{
        display: none;
    }
    .hide{
        display: block;
    }
    
}
@media screen and (min-width: 900px) {
    .image {
        grid-template-columns: 1fr 1fr;
    }
 }
 @media screen and (min-width: 1000px) {
    .image {
        grid-template-columns: 1fr 1fr 1fr;
    }
     dialog img {
        width: 60%;
        margin: 15vh auto;
    }
 }
 