
body{
    background-color: antiquewhite;
    font-size: 20px;
}
#content {
    max-width: 60%;
    border: 1px solid black;
    margin: 0 auto;
    padding: 50px;
}
p {
    color: #035f9c;
    font-size: 1.3em;
}
hr {
    height: 3px;
    background-color: #035f9c;
    width: 80%;
    margin-top: 50px;
}
h1, h2, p {
    text-align: center;

}
#logos {
    text-align: center;
    margin: 50px auto;
}
img {
    width: 50%;
}
#topics {
    line-height: 1.5em;
    margin: 50px auto;
    width: 55%;
    
}
.list {
    list-style-type: none;
}