
header, footer {
    text-align: center;
    padding: 0.5rem;
}
.nav{
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.nav a {
    text-decoration: none;
    color: lightslategray;
}
.book {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.book-meta {
    text-align: right;
}
.book h2 {
    text-align: center;
}
.book img {
    display: block;
}

@media (min-width: 768px) {
    .nav {
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }

    .book {
        display: grid;
        grid-template-columns: 200px 1fr; 
        column-gap: 40px;
        align-items: start;
        max-width: 880px;
        margin: 0 auto;
    }

    .book-meta {
        text-align: right;
        border-right: 2px solid #f39c12; 
        padding-right: 20px;
    }

    .book-details {
        text-align: left;
    }

    .book-title {
        margin-top: 0; 
        color: #b33939; 
    }

    .book-details img {
        margin: 20px 0;
        max-width: 300px;
        height: auto;
    }
}
/* @media (min-width: 768px){
    .nav {
        flex-direction: row;
        gap: 20px;
    }
    .book {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        align-items: start;
    }
    .book-meta {
        text-align: right;
        border-right: 2px solid #f39c12; 
        padding-right: 20px;
    }
    .book-details {
        text-align: left;
    }
    .book-details img {
        margin: 20px 0;
        max-width: 250px;
    }
    .book h2 {
        grid-column: 2;
        grid-row: 1;
        text-align: left;
    }
    .book img {
        grid-column: 2;
        grid-row: 2;
    }

    .book p:last-of-type { 
        grid-column: 2;
        grid-row: 3;
    }
    .book p:not(:last-of-type), .book i {
        grid-column: 1;
        text-align: right;
        border-right: 1px solid #f39c12;
        padding-right: 15px;
    } */
